/* Fonts */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h1, h2 {
    font-family: 'Staatliches', cursive;
}

h3 {
    font-family: 'Bebas Neue', cursive;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(141, 141, 141);
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover:not(.active) {
    background-color: whitesmoke;
  }
  
.active {
    background-color: rgb(88, 88, 88);
  }

  /* Home Image */
  #home_image {
    text-align: center;
    background-color: whitesmoke;
  }

  /* Tagline */
  #tagline {
    text-align: center;
    background-color:  whitesmoke;
  }

  div#tagline h1 {
    margin: 0px;
    padding: 10px;
  }

  /* Sections */
  section {
    margin-left: 10px;
    margin-right: 10px;
  }

  section#intro {
    background-color:  whitesmoke;
    margin: 0px;
    padding: 10px;
  }

  /* Products */
  article {
    float: left;
    width: 20%;
    border: 1px solid #000000;
    margin: 5px;
    padding: 40px;
    height: 200px;
    background-color:  whitesmoke;
  }

  div.product_image {
    width: 200px;
    height: 120px;
    overflow: hidden;
    border: 1px solid #000000;
    margin-bottom: 5px;
  }

  /* Home Image */
  #north_image {
      text-align: right;
      background-color: whitesmoke;
    }

  div.EnterNorthHouse {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #000000;
    margin-bottom: 5px;
  }

  div.NorthLivingRoom {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #000000;
    margin-bottom: 5px;
  }

  #community {
    text-align: center;
    width: 150px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
  }

  #start{
    text-align: center;
  }

  #enter{
    text-align: center;
  }
  

