/* Fonts */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h1 {
    font-family: 'Staatliches', cursive;
    text-align: center;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(141, 141, 141);
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover:not(.active) {
    background-color: whitesmoke;
  }
  
.active {
    background-color: rgb(88, 88, 88);
  }

  /* Home Image */
  #home_image {
    text-align: center;
    background-color: whitesmoke;
  }

  /* Tagline */
  #tagline {
    text-align: center;
    background-color:  whitesmoke;
  }

  div#tagline h1 {
    margin: 0px;
    padding: 10px;
  }

  /* Sections */
  section {
    margin-left: 10px;
    margin-right: 10px;
  }

  section#intro {
    background-color:  whitesmoke;
    margin: 0px;
    padding: 10px;
  }

  /* Products */
  article {
    float: left;
    width: 46%;
    margin: 5px;
    padding: 15px;
    height: 400px;
    background-color:  whitesmoke;
  }

  div.product_image {
    width: 200px;
    height: 120px;
    overflow: hidden;
    border: 1px solid #000000;
    margin-bottom: 5px;
  }

  div.north {
    text-align: center;
    }
  
  div.south {
      text-align: center;
    }
   
  div.welcome_north {
    margin-top: 20px;
    text-align: center;
    }
 
  div.enter{
    text-align: center;
  }

  div.EnterNorthHouse {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #000000;
    margin-bottom: 5px;
  }

  div.NorthLivingRoom {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #000000;
    margin-bottom: 5px;
  }

  #myCarousel {
    width: 80%;
    margin:auto
  }

  #community {
    text-align: center;
    width: 150px;
  }

  div.start{
    text-align: center;
  }

  #return{
    text-align: center;
  }

#Audio{
  text-align:center
}
